# Copia este contenido en .env.local para desarrollo y configura en Vercel como variables de entorno para producción.
# Desarrollo local
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Producción (ejemplo)
# NEXTAUTH_URL=https://TU_DOMINIO_DE_PRODUCCION
# GOOGLE_CLIENT_ID=XXX.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=YYY
# NEXTAUTH_SECRET=ALGUN_SECRETO_FUERTE
